@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "princ";
    src: url(fonts/Go\ around\ the\ books\ 2022.ttf);
}

@font-face {
    font-family: "seg";
    src: url(fonts/WC_RoughTrad.ttf);
}

html {
    scroll-behavior: smooth;
    
}
body {
    background-image: linear-gradient(to bottom, rgba(179,179,179,255)40%, black);
    background-repeat: no-repeat;
    height: 900vh;
    width: 100%;
    padding-top: 10px;
}

header {
    background-image: url(img/fundo.jpg);
    height: 780px;
    width: 100%;
}


h2 {
    font-family: "princ";
    font-size: 28px;
    margin: 0 auto;

    text-align: center;

}

#line {
    height: 2px;
    border-radius: 1px;
    background-color: rgba(53, 53, 53, 0.616);
    width: 80%;
    margin: 5px auto;
}

#seta {
    text-align: left;
    font-size: 35px;
    margin-top: 330px;
}

#input-nome {
    margin: auto;

    width: 80%;
}

#seu-nome {
    width: 240px;
    border-radius: 10px;
    border: none;
    background-color: rgb(90, 90, 90);
    height: 30px;

    text-align: center;
    font-size: 17px;
    font-family: "seg";
    color: rgb(209, 209, 209);
}

#buton-nome {

    background-color: rgb(90, 90, 90) ;
    position: absolute;
    right: 30px;
    height: 20px;
    width: 50px;

    font-family: "seg";
    color: rgb(209, 209, 209);

    border: none;
    border-radius: 5px;
}

#buton-nome:hover {
    background-color: rgb(77, 77, 77);
}



p, #nome {
    font-family:"seg";
    font-size: 15px;
    text-align: center;
    color: rgb(32, 32, 32);
    width: 88%;
    margin: 30px auto;
    line-height: 26px;
}

main p {

    text-align: justify;    
}

#botao-play{

    background-color: rgb(90, 90, 90) ;
    height: 30px;
    width: 130px;
    text-align: center;
    padding: 5px;
    margin: 50px auto;

    font-family: "seg";
    color: rgb(209, 209, 209);

    border: none;
    border-radius: 5px;

}

.botao-page > a {
    text-decoration:none ;
    color: rgb(209, 209, 209);
}

.botao-page:hover {
    background-color: rgb(68, 68, 68) ;
}

#main-cont {
    margin-top: 6600px;
}

p.main2, #nome{
    color: aliceblue;
    text-align: center;
}

